.RewardsTable {
  text-align: center;
  font-size: 1.8rem;
  background: rgba(0, 0, 0, 0.1);
}

.RewardsTable-head {
  background: rgba(0, 0, 0, 0.1);
}

.RewardsTable-row:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}

.RewardsTable-cell {
  padding: 0.8rem;
  font-size: 1.4rem;
}

.RewardsTable-headCell {
  padding: 1rem;
  font-size: 1.5rem;
  width: calc(100% / var(--columnsCount));
}
