.RewardsProgram {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.RewardsProgram-header {
  font-size: 3rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RewardsProgram-reload {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
